<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <%= render 'ga' %>
    <% end %>
    <title>CKEditor 5 + Ruby Rails Demo + File Upload</title>
    <meta name="description" content="ruby on rails + ckeditor 5 + file upload demo" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :js %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div style='text-align: center;'>CKEditor 5 + Ruby Rails</div>
    <br/>

    <div id='container'>
      <%= link_to '/HOME', root_path %>
      <%= yield %>
    </div>

    <br/>

    <div style='text-align: center;'>
      <h3>
        <%= image_tag 'github.png', size: '24x24' %>
        <%= link_to 'https://github.com/igorkasyanchuk/new_ckeditor_demo', target: '_blank', style: 'color: green; font-size: 18px' do %>
          the source code of demo
        <% end %>
      </h3>
      <br/>
      <p>my other gems and demos placed in this app:</p>
      <h3>
        <%= image_tag 'github.png', size: '24x24' %>
        <%= link_to '/rails/performance', target: '_blank', style: 'color: green; font-size: 18px' do %>
          rails_performance DEMO
        <% end %>
        &nbsp;
        <%= link_to '(gem on github)', 'https://github.com/igorkasyanchuk/rails_performance', target: '_blank' %>
      </h3>

      <h3>
        <%= image_tag 'github.png', size: '24x24' %>
        <%= link_to '/demo_api', target: '_blank', style: 'color: green; font-size: 18px' do %>
          fake_api DEMO
        <% end %>
        &nbsp;
        <%= link_to '(gem on github)', 'https://github.com/igorkasyanchuk/fake_api', target: '_blank' %>
      </h3>

      <h3>
        <%= image_tag 'github.png', size: '24x24' %>
        &nbsp;
        <%= link_to 'any_login (gem on github)', 'https://github.com/igorkasyanchuk/any_login', target: '_blank', style: 'color: green; font-size: 18px' %>
      </h3>

      <h3>
        <%= image_tag 'github.png', size: '24x24' %>
        &nbsp;
        <%= link_to 'rails_db (gem on github)', 'https://github.com/igorkasyanchuk/rails_db', target: '_blank', style: 'color: green; font-size: 18px' %>
      </h3>
    </div>
  </body>
</html>
